{% extends 'base.html.twig'%}
{% block title %} Tous nos biens{% endblock %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Vour tous</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam aliquid, consectetur distinctio dolor enim error et incidunt inventore iste itaque magnam non omnis possimus quas recusandae reiciendis sit vero.
    </p>
</div>
{% endblock %}